<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnLaunch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>604BEE3F1DDB4AE2007FA960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>604BEE581DDB4AE3007FA960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>604BEE631DDB4AE3007FA960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
